<div style="display: flex; width: 100%; margin-top: 80px;">
  <div style="flex: 1; max-width: 25%;">
    <!-- Left column (1/4 width) -->
    <%= render partial: "owner/bookings/side_bar" %>
    <div style="flex: 3; max-width: 75%;">
      <!-- Right column (3/4 width) -->
      <%= render partial: "bookings/tab" %>
    </div>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const showBtn = document.querySelector("#show-form-button");
    const form = document.getElementById("spaceship-form-container");
    const wrapper = document.getElementById("spaceship-form-wrapper");
    const cancelBtn = document.getElementById("cancel-form-button");
    console.log(showBtn);
    console.log(form);


    showBtn.addEventListener("click", function() {
      console.log("clicked");

      form.style.display = "block";
      wrapper.style.display = "block";
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });
  }
</script>
