<div style="display: flex; width: 100%;">
  <div style="flex: 1; max-width: 25%;">
    <%= render partial: "owner/bookings/side_bar" %>
  </div>
  <div style="flex: 3; max-width: 75%;">
    <div class="container">
      <%= render partial: "bookings/tab" %>
    </div>
  </div>
</div>
