<div style="display: flex; width: 100%;">
  <div style="flex: 1; max-width: 25%;">
    <%= render partial: "owner/bookings/side_bar" %>
  </div>
  <div style="flex: 3; max-width: 75%;">
    <div class="container">
      <%= render partial: "bookings/tab" %>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const showBtn = document.getElementById("show-form-button");
    const form = document.getElementById("spaceship-form-container");
    const cancelBtn = document.getElementById("cancel-form-button");

    showBtn.addEventListener("click", function() {
      form.style.display = "block";
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });

    if (cancelBtn) {
      cancelBtn.addEventListener("click", function() {
        form.style.display = "none";
      });
    }
  });

</script>
