<h1>Upcoming Bookings</h1>
<div class="row">
  <% @upcoming_bookings.each do |booking| %>
    <%= render partial: "bookings/card", locals: { booking: booking } %>
  <% end %>
</div>
<h1>Past Bookings</h1>
<div class="row">
  <% @past_bookings.each do |booking| %>
    <%= render partial: "bookings/card", locals: { booking: booking } %>
  <% end %>
</div>
