<div class="container">
  <% @bookings.each do |booking| %>
    <p>Spaceship: <%= booking.spaceship.name %></p>
    <p>Duration: <%= booking.start_date %> ~ <%= booking.end_date %></p>
    <p>Total: <%= booking.total_price %></p>
  <% end %>
</div>
