.navbar-lewagon {
  justify-content: space-between;
  background-color:#010A1B;
  a {
    color: white;
  }
  a:hover {
    color: $purple;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}

.navbar-nav {
  color: white;
}
