.container-relative {
  position: relative; /* make this div the positioning context */
}

.showroom-btn {
  position: absolute; /* position relative to the parent */
  top: 0;
  right: 0;
  margin: 10px; /* some spacing from edges */
}
