.card-trip {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 16px;
  line-height: 1;
  background-color: #010A1B;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
